.winners_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.winners_page_title {
  color: white;
}
table {
  min-width: 60%;
  border-collapse: collapse;
  margin: 20px auto;
  padding: 10%;
}

tr {
  background: #eee;
}

th {
  background-image: linear-gradient( to right, #757f9a 0%, #d7dde8 51%, #757f9a 100% );
  color: black;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}
