.main_container {
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.main_container_title_garage {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 600;
  text-shadow: #fc0 1px 0 10px;
  margin: 0px;
}
